.form__field-label {
    display: flex;
    position: relative;
}

.form__field-label:first-of-type {
    margin: 0 0 30px;
}

.form__field-label:last-of-type {
    margin: 30px 0 44px;
}

.form__field-label:only-of-type {
    margin: 0 0 30px;
}

@media screen and (max-width: 478px) {
    .form__field-label:last-of-type {
        margin-bottom: 41px;
    }
}
