.profile__info-about-myself {
    color: #fff;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 3;
}

@media screen and (max-width: 800px) {
    .profile__info-about-myself {
        max-width: 80vw;
        grid-column-start: 2;
        grid-column-end: 3;
        text-align: center;
        font-size: 14px;
        line-height: 1;
        margin: 0 auto;
    }
}
