.form__save {
    width: 100%;
    border: 0;
    border-radius: 2px;
    margin: 0;
    padding: 16px 0;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    color: #e5e5e5;
    background-color: #fff;
    transition: background-color 0.2s ease;
    text-align: center;
    cursor: pointer;
    pointer-events: none;
    box-sizing: border-box;
}

.form__save:hover {
    background-color: rgb(0, 0, 0, 0.8);
}

@media screen and (max-width: 478px) {
    .form__save {
        font-size: 14px;
    }
}
